<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.btc.prosport.player.soccer"
    tools:overrideLibrary="com.btc.prosport.player">

    <uses-sdk android:minSdkVersion="19"/>

    <application
        android:name="com.btc.prosport.player.soccer.PlayerSoccerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_player_soccer_label">

        <service android:name="com.btc.prosport.core.manager.account.ProSportAuthenticatorService">
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/player_authenticator"/>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJbRHvzJ1ez5JL2DVbUITHtgl4gIg1_F8"/>
    </application>
</manifest>
