<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btc.prosport.common">

    <!--ProSport Accounts-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!--ProSport Accounts-->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <!--ProSport Accounts-->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!--ProSport Accounts-->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <!--Google Analytics, ProSportApi-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--Google Analytics-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--Google Analytics-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--Firebase dispatcher-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>
        <activity
            android:name="com.btc.prosport.screen.activity.proSportVerification.ProSportVerificationActivity"
            android:label="@string/prosport_verification_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <service
            android:name="com.btc.prosport.core.manager.account.ProSportAuthenticatorService"
            android:exported="false">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
        </service>

        <service
            android:name="com.btc.prosport.core.manager.firebaseMessaging.ProSportMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.btc.prosport.core.manager.firebaseMessaging.ProSportInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.btc.prosport.core.manager.firebaseMessaging.SubscribeJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service
            android:name="com.btc.prosport.core.manager.firebaseMessaging.UnsubscribeJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">

            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.btc.prosport.core.manager.notification.NotificationEventBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.btc.prosport.common.NOTIFICATION_REMOVED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>
    </application>
</manifest>